body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url("../img/a.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 80vh; /* Asegura que el body cubra toda la pantalla */
    margin: 0;
}

.container-error-404{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    width: 50%;
}

.error-404{
    background-color: aliceblue;
}

.error-404 h1{
    font-size: 100px;
}

.error-404 h2{
    font-size: 40px;
}