body {
    font-family: 'Montserrat', sans-serif;
    background-color: #faf2ea;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

 /* Contenedor para mantener los elementos en columna */
.container {
    display: flex;
    flex-direction: column;   /* Apila en columna */
    gap: 20px;                /* Espacio entre los div */
    text-align: center; /* Opcional, centra el contenido de cada div */
    align-items: center;
    /*background-color: red;*/
}

#iniciar{
    width: 40%;
    height: 50px;
    border-radius: 15px;
}

#reiniciar{
    display: block;
    width: 40%;
    height: 50px;
    border-radius: 15px;
}


#pregunta {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#opciones {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.shadow-effect {
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff; /* Color base del botón */
    transition: box-shadow 0.3s ease-in-out; /* Transición suave del efecto de sombra */
}

.shadow-effect:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta el desplazamiento y la opacidad de la sombra */
}

.bg-3{
    /*background-color: red;*/
}

.text-gradient {
    font-size: 4em;
    font-weight: bold;
    background: linear-gradient(90deg, #ff8c00, #ff0080, #06e6ae, #0080ff, #ff8c00);
    background-size: 300% 100%; /* Aumentar el tamaño para un desplazamiento más suave */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient 10s linear infinite;
}

/* Animación de gradiente */
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}