<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada :/</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <script src="https://kit.fontawesome.com/58deb355db.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/ico" href="../static/img/error_notice_warning_virus_icon_143435.ico"/>
</head>
<body>
    <div class="container-error-404">
        <div class="error-404">
            <h1>404</h1>
            <h2>Ooooooooops... La página que buscas no existe</h2>
        </div>
    </div>
</body>
</html>