<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué hay pa'?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/58deb355db.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="icon" type="image/ico" href="../static/img/placeholder-19_icon-icons.com_62029.ico"/>
    <script>
        let respuestas = [];

        function enviarRespuesta() {
            fetch("/pregunta", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ "respuestas": respuestas })
            })
            .then(response => response.json())
            .then(data => {
                // Si lo enviado por el backend es una recomendación, se actualiza la plantilla con lo siguiente
                if (data.recomendacion) {
                    document.getElementById("pregunta").innerText = "Te recomendamos estos lugares:";
                    document.getElementById("opciones").innerHTML = data.recomendacion.map(
                        rec => `<p>${rec}</p>`
                    ).join('');
                    
                    // Mostrar el mapa
                    mostrarMapa(data.mapa); // Llama a la función para mostrar el mapa

                    // Mostrar botón para reiniciar
                    document.getElementById("reiniciar").innerHTML = '<button class="shadow-effect" onclick="reiniciar()">Volver a empezar</button>';
                // Si no son recomendaciones, se espera una pregunta y sus respuestas para actualizar la plantilla con lo siguiente
                } else {
                    // Mostrar la siguiente pregunta y opciones de respuesta
                    document.getElementById("pregunta").innerText = data.pregunta;
                    document.getElementById("opciones").innerHTML = data.opciones.map(
                        opcion => `
                             <button class="button" onclick="seleccionarRespuesta('${opcion.respuesta}')"><b>${opcion.respuesta}</b></button>`
                    ).join('');
                }
            });
        }

        // Función para mostrar el mapa
        function mostrarMapa(mapaUrl) {
            // Crea un iframe para cargar el mapa generado
            const iframe = document.createElement('iframe');
            iframe.src = mapaUrl; // Ruta del mapa generado
            iframe.style.width = "700px";
            iframe.style.height = "500px"; // Altura del iframe
            iframe.frameBorder = "1"; // Sin bordes

            // Limpia el contenedor del mapa y agrega el iframe
            const mapaContainer = document.getElementById('map');
            mapaContainer.innerHTML = ''; // Limpiar contenido previo
            mapaContainer.appendChild(iframe); // Agregar el iframe al contenedor del mapa
            mapaContainer.style.display = 'block'; // Asegúrate de mostrar el contenedor del mapa
        }

    // Envia la respuesta seleccionada mediante la funcion enviarRespuesta(), que se almacena en un array
    function seleccionarRespuesta(respuesta) {
        respuestas.push(respuesta);
        enviarRespuesta();
    }

    // Inicia todo con la pregunta predeterminada
    function iniciar() {
        respuestas = [];
        document.getElementById("pregunta").innerText = "¿Qué tipo de plan prefieres?";
        document.getElementById("opciones").innerHTML = `
                <button class="button" onclick="seleccionarRespuesta('plan extremo')"><b>Plan extremo</b></button>
                <button class="button" onclick="seleccionarRespuesta('plan fresco')"><b>Plan fresco</b></button>`;
        document.getElementById("reiniciar").innerHTML = '';
        document.getElementById("iniciar").style.display = "none"; // Ocultar el botón de inicio
        document.getElementById("map").style.display = "none"; // Asegurar que el mapa esté oculto al inicio
    }

        // Reinincia todo al momento de recomendar 
        function reiniciar() {
            document.getElementById("pregunta").innerText = "";
            document.getElementById("opciones").innerHTML = "";
            document.getElementById("reiniciar").innerHTML = "";
            document.getElementById("iniciar").style.display = "block"; // Mostrar el botón de inicio
            document.getElementById("map").style.display = "none"; // Ocultar el mapa al reiniciar
        }

        // Evento que se dispara cuando se cargan todos los documentos necesarios para la página (CSS, HTML, JavaScript)
        window.onload = function() {
            // Solo mostrar el botón de iniciar
            document.getElementById("iniciar").style.display = "block";
        };
    </script>
</head>
<body>
        <!-- Menú de navegación -->
        <header>
            <nav>
                <!-- Logo -->
                <div class="logo">
                    <a href="/">
                        <img src="../static/img/placeholder-19_icon-icons.com_62029.png" alt="Logo Aplicación" title="Logo de la Aplicación">
                    </a>
                </div>
                <!-- Menu -->
                <ul class="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/about.html">About</a></li>
                    <li><a id="donar-menu"href="/donar.html">Donar</a></li>
                </ul>
                <!-- Redes sociales -->
                <div class="social-media-header">
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    
                        <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    
                        <a href="https://tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>
    
                        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </nav>
        </header>

    <div class="container">
        <div class="bg-3">
            <h1 class="text-gradient">¿Qué hay pa' en Popayán?</h1>
        </div>
        <div id="pregunta"></div>
        <div id="opciones"></div>
        <div id="map" style="display: none;"></div> <!-- Contenedor para el mapa -->
        <div id="reiniciar"></div> <!-- Div para el botón de reiniciar -->
        <button class="shadow-effect" id="iniciar" onclick="iniciar()">Inicia la búsqueda</button> <!-- Botón para iniciar -->
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <!-- Informacion de contacto -->
            <div class="contact-info">
                <a href="/">
                    <img src="../static/img/Diseño sin título (1).png" alt="Logo Aplicación" class="footer-logo">
                </a>
                <p><strong>Dirección:</strong> Cra 33X #17 - 22</p>
                <p><strong>Teléfono:</strong> +57 31242354454</p>
                <p><strong>Email:</strong> contacto@quehaypahacer.com</p>
            </div>

            <!-- Redes sociales -->
            <div class="social-media-footer">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <!-- Derechos reservados -->
        <div class="footer-bottom">
            <p>&copy; 2024 ConstCode. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>