<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué hay pa'?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/58deb355db.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/ico" href="../static/img/placeholder-19_icon-icons.com_62029.ico"/>
    <script>
        let respuestas = [];

        function enviarRespuesta() {
            fetch("/pregunta", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ "respuestas": respuestas })
            })
            .then(response => response.json())
            .then(data => {
                // Si lo enviado por el backend es una recomendación, se actualiza la plantilla con lo siguiente
                if (data.recomendacion) {
                    document.getElementById("pregunta").innerText = "Te recomendamos estos lugares:";
                    document.getElementById("opciones").innerHTML = data.recomendacion.map(
                        rec => `<p>${rec}</p>`
                    ).join('');
                    // Mostrar botón para reiniciar
                    document.getElementById("reiniciar").innerHTML = '<button class="shadow-effect" onclick="reiniciar()">Volver a empezar</button>';
                // Si no son recomendaciones, pues se espera una pregunta y sus respuestas para actualizar la plantilla con lo siguiente
                } else {
                    // Mostrar la siguiente pregunta y opciones de respuesta
                    document.getElementById("pregunta").innerText = data.pregunta;
                    document.getElementById("opciones").innerHTML = data.opciones.map(
                        opcion => `
                            <input type="radio" name="respuesta" value="${opcion.respuesta}" onchange="seleccionarRespuesta('${opcion.respuesta}')">
                            <label>${opcion.respuesta}</label><br>`
                    ).join('');
                }
            });
        }

        // Envia la respuesta selccionada mediante la funcion enviarRespuesta(), que se almacena en un array
        function seleccionarRespuesta(respuesta) {
            respuestas.push(respuesta);
            enviarRespuesta();
        }

        // Inicia todo con la pregunta predertminada
        function iniciar() {
            respuestas = [];
            document.getElementById("pregunta").innerText = "¿Qué tipo de plan prefieres?";
            document.getElementById("opciones").innerHTML = `
                <input type="radio" name="respuesta" value="plan extremo" onchange="seleccionarRespuesta('plan extremo')">
                <label>Plan extremo</label><br>
                <input type="radio" name="respuesta" value="plan fresco" onchange="seleccionarRespuesta('plan fresco')">
                <label>Plan fresco</label><br>`;
            document.getElementById("reiniciar").innerHTML = '';
            document.getElementById("iniciar").style.display = "none"; // Ocultar el botón de inicio
        }

        // Reinincia todo al momento de recomendar 
        function reiniciar() {
            document.getElementById("pregunta").innerText = "";
            document.getElementById("opciones").innerHTML = "";
            document.getElementById("reiniciar").innerHTML = "";
            document.getElementById("iniciar").style.display = "block"; // Mostrar el botón de inicio
        }

        // Evento que se dispara cuando se cargan todos los documentos necesarios para la página (CSS, HTML, JavaScript)
        window.onload = function() {
            // Solo mostrar el botón de iniciar
            document.getElementById("iniciar").style.display = "block";
        };
    </script>
</head>
<body>
    <div class="container">
        <div class="bg-3">
            <h1 class="text-gradient">¿Qué hay pa' en Popayán?</h1>
        </div>
        <div id="pregunta"></div>
        <div id="opciones"></div>
        <div id="reiniciar"></div> <!-- Div para el botón de reiniciar -->
        <button class="shadow-effect" id="iniciar" onclick="iniciar()">Inicia la búsqueda</button> <!-- Botón para iniciar -->
    </div>
</body>
</html>